@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

::before,
::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Main headline */
.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

/* P text under headline */
.headline-summary {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.summary-text {
  max-width: 800px;
  margin: 0 auto;
}

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Left side with inputs */
.input-side {
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom right, #450845, #7c287c);
  padding: 1.5em;
  color: #f0f0f0;
}

.input-group {
  margin-bottom: 15px;
}

/* Styling for all labels */
label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

input:focus {
  outline: none;
  border-color: rgb(255, 255, 97);
  box-shadow: 0 0 5px rgb(255, 255, 97);
}

/* Styling for all input fields */
input[type="number"],
button {
  width: 100%;
  height: 70px;
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  font-size: 2rem;
}

/* Styling for button */
button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 100px;
  background-color: #961096;
  color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6b1d7b;
}

/*------------------Results section------------------*/
/* Right side with generated Bolån by user */
.results-side {
  width: 100%;
  height: auto;
  flex: 1;
  overflow-y: auto;
  background-color: #ffff61;
  padding: 1.5em;
}

/* Second headline */
.results-headline {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

/* Flexbox for result page */
.results {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 2rem;
}

/* Invalid input text styling */
.error-message {
  color: #e40707;
  font-size: 2rem;
  margin-top: 1rem;
}

/* Sizing for amortization table */
.amortization-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
  display: none;
  font-size: 1.1rem;
}

/* Styling for amortization table */
.amortization-table th,
.amortization-table td {
  border: 1px solid #1a1a1a;
  padding: 5px;
  text-align: center;
}

.amortization-table th {
  background-color: #b1b12c;
}

.summary {
  font-size: 1.1rem;
}

/* Media 1 */
@media only screen and (min-width: 670px) and (max-width: 1199px) {
  .input-side {
    height: auto;
  }
}

/* Desktop media */
@media only screen and (min-width: 1200px) {
  /* Desktop flex */
  .container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }

  /* adjusted width height */
  .input-side {
    width: 60%;
    height: auto;
  }

  /* Handles overflow of table */
  .results-side {
    flex: 1;
    overflow-y: auto;
  }

  .headline {
    font-size: 2rem;
  }

  .summary-text {
    max-width: 1100px;
  }

  .input-group {
    margin-bottom: 15px;
  }

  label {
    font-size: 1rem;
  }

  input[type="number"],
  button {
    height: 40px;
    font-size: 1rem;
  }

  button {
    margin-top: 1rem;
    height: 45px;
  }

  .results-headline {
    font-size: 2rem;
  }

  .results {
    font-size: 1.1rem;
    margin-top: 2.2rem;
  }

  .error-message {
    padding-top: 4.5rem;
    font-size: 1.1rem;
  }

  /* Adjust table positioning */
  .amortization-table {
    margin-top: 1rem;
    display: none;
    font-size: 1.1rem;
  }
}
