::before,
::after,
* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-side {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    rgb(110, 23, 110),
    rgb(165, 58, 165)
  );
  padding: 1.5em;
  color: #f0f0f0;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
button {
  width: 100%;
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  background-color: purple;
  color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6b1d7b;
}

/*------------------Results section------------------*/
.right-side {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 97);
  padding: 1.5em;
}

.results-headline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* Desktop media */
@media only screen and (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .left-side {
    width: 70%;
  }

  .right-side {
    width: 30%;
  }
}
