@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

::before,
::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.input-side {
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom right, #450845, #7c287c);
  padding: 1.5em;
  color: #f0f0f0;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

input:focus {
  outline: none;
  border-color: rgb(255, 255, 97);
  box-shadow: 0 0 5px rgb(255, 255, 97);
}

input[type="number"],
button {
  width: 100%;
  height: 70px;
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  font-size: 2rem;
}

button {
  margin-top: 3.3rem;
  height: 100px;
  background-color: #961096;
  color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6b1d7b;
}

/*------------------Results section------------------*/
.results-side {
  width: 100%;
  height: 100%;
  background-color: #ffff61;
  padding: 1.5em;
}

.results-headline {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 2rem;
}

.error-message {
  color: red;
  font-size: 2rem;
  margin-top: 1rem;
}

.amortization-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: -0.4rem;
  margin-right: 17.4rem;
  display: none;
}

.amortization-table th,
.amortization-table td {
  border: 1px solid #1a1a1a;
  padding: 5px;
  text-align: center;
}

.amortization-table th {
  background-color: #b1b12c;
}

/* Add more styles as needed */

/* Desktop media */
@media only screen and (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .input-side {
    width: 60%;
    height: 100%;
  }

  .results-side {
    width: 40%;
  }

  .headline {
    font-size: 2rem;
  }

  .input-group {
    margin-bottom: 15px;
  }

  label {
    font-size: 1rem;
  }

  input[type="number"],
  button {
    height: 40px;
    font-size: 1rem;
  }

  button {
    margin-top: 1rem;
    height: 45px;
  }

  .results-headline {
    font-size: 2rem;
  }

  .results {
    font-size: 1.1rem;
    margin-top: 2.2rem;
  }

  .error-message {
    padding-top: 4.5rem;
    font-size: 1.1rem;
  }

  .amortization-table {
    margin-right: 9rem;
  }
}
